{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'stripe/css/checkout.css' %}">

{% endblock %}

{% block content %}
    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Checkout</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">There are <span class="text-brand">3</span> products in your cart</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="row mb-10">
                    <div class="col-lg-6 mb-sm-15 mb-lg-0 mb-md-3">
                      {% comment %}  <div class="toggle_info">
                            <span><i class="fi-rs-user mr-10"></i><span class="text-muted font-lg">Already have an account?</span> <a
                                    href="{% url 'user:user_login' %}" data-bs-toggle="collapse"
                                    class="collapsed font-lg"
                                    aria-expanded="false">Click here to login</a></span>
                        </div>{% endcomment %}
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details
                                    below. If you are a new customer, please proceed to the Billing &amp; Shipping
                                    section.</p>
                                <script src="https://js.stripe.com/v3/"></script>
                                <form method="post" action=".">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox"
                                                       id="remember" value="">
                                                <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 class="mb-30">Billing Details</h4>
                    <form method="post" action=".">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input type="text" required="" name="fname" placeholder="First name *" value="Festus">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="text" required="" name="lname" placeholder="Last name *" value="Success">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input type="text" name="billing_address" required="" placeholder="Address *" value="My house address">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="text" name="billing_address2" required="" placeholder="Address line2" value="My house address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input required="" type="text" name="zipcode" placeholder="Postcode / ZIP *" value="122221">
                            </div>
                            <div class="form-group col-lg-6">
                                <input required="" type="text" name="phone" placeholder="Phone *" value="234567899">
                            </div>
                        </div>
                        <div class="row">
                           <div class="form-group col-lg-6">
                                <input required="" type="text" name="city" placeholder="City / Town *" value="City">
                            </div>
                            <div class="form-group col-lg-6">
                                <input required="" type="text" name="email" placeholder="Email address *" value="Gis@email.com">
                            </div>
                        </div>
                       {% comment %} <div class="form-group mb-30">
                            <textarea rows="5" placeholder="Additional information"></textarea>
                        </div>{% endcomment %}
                        <div class="form-group mb-30">
                            <div class="form-row">
                                <label for="card-element">
                                    Credit or debit card
                                </label>
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors. -->
                                <div id="card-errors" role="alert"></div>
                            </div>
                            <label for="id_coupon">Apply Coupon</label>
                            <div id="coupon_amount"></div>

                            <input type="text" id="id_coupon" name="coupon" class="form-control mb-4"
                                   style="max-width:100%">
                            <div class="form-group">
                                <button class="btn btn-fill-out btn-block btn-md" name="login"
                                        id="submit-button">Submit and Place order<i
                                        class="fi-rs-sign-out ml-15"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="border p-40 cart-totals ml-30 mb-50">
                    <div class="d-flex align-items-end justify-content-between mb-30">
                        <h4>Your Order</h4>
                        <h6 class="text-muted">Subtotal
                            <div class="text-brand">$500</div>
                        </h6>
                    </div>
                    <div class="divider-2 mb-30"></div>
                    <div class="table-responsive order_table checkout">
                        <table class="table no-border">
                            <tbody>
                            <tr>
                                <td class="image product-thumbnail"><img
                                        src="{% static 'assets/imgs/shop/product-1-1.jpg' %}" alt="#"></td>
                                <td>
                                    <h6 class="w-160 mb-5"><a href="#" class="text-heading">Yidarton Women Summer
                                        Blue</a></h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-muted pl-20 pr-20">x 1</h6>
                                </td>
                                <td>
                                    <h4 class="text-brand">$13.3</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="image product-thumbnail"><img
                                        src="{% static 'assets/imgs/shop/product-2-1.jpg' %}" alt="#"></td>
                                <td>
                                    <h6 class="w-160 mb-5"><a href="#" class="text-heading">Seeds of Change Organic
                                        Quinoa</a></h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-muted pl-20 pr-20">x 1</h6>
                                </td>
                                <td>
                                    <h4 class="text-brand">$15.0</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="image product-thumbnail"><img
                                        src="{% static 'assets/imgs/shop/product-3-1.jpg' %}" alt="#"></td>
                                <td>
                                    <h6 class="w-160 mb-5"><a href="#" class="text-heading">Angie’s Boomchickapop
                                        Sweet </a></h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-muted pl-20 pr-20">x 1</h6>
                                </td>
                                <td>
                                    <h4 class="text-brand">$17.2</h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <!-- script for the stripe form -->
    <script>
        var stripe = Stripe('{{ stripe_public_key }}');
    </script>
    <script src="{% static 'stripe/js/checkout.js' %}"></script>
{% endblock %}